src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e5823b23-ff72-4958-92ae-927507f22201" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="84b7e221-2c6e-4158-b88c-47affe0466c3" >
		<http:request-connection host="localhost" port="8081" connectionIdleTimeout="300000"/>
	</http:request-config>
	<flow name="helloFlow" doc:id="1005d4f7-76c1-435b-a935-a949233fcbe1" >
		<http:listener doc:name="GET/hello" doc:id="ac1f4b98-323d-42a7-b017-493c4a20534c" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="367985f6-cb81-4f60-8622-fc05c597c549" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="hello" doc:name="hello" doc:id="82d376af-4147-461f-81cc-b36a9da51538" />
		<logger level="INFO" doc:name="Logger" doc:id="605cbded-8eb7-45b5-9b96-0903ee921d57" />
	</flow>
	<flow name="apdev-examplesFlow" doc:id="f708e95c-011a-4be1-9016-30adf03e62a8" >
		<logger level="INFO" doc:name="Logger" doc:id="102ce31c-773a-477d-8247-37f3ca0b58a7" message="Hello"/>
	</flow>
	<flow name="goodbyFlow" doc:id="bed9b183-61ea-4751-89ca-2b53a06c7f6a" >
		<http:listener doc:name="GET/Goodbye" doc:id="72a05cea-a342-45df-b94b-ebd7735584d6" config-ref="HTTP_Listener_config" path="/goodbye" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Name" : "Maxz"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-payload value="#['Goodbye']" doc:name="Goodbye" doc:id="510b8306-cf20-4d05-a341-9488ccf0fa35" />
		<logger level="INFO" doc:name="Logger" doc:id="78693008-db1d-4cc8-b503-380243438725"/>
	</flow>
</mule>
